#evolution {
  path.line {
    fill: none;
    stroke-width: 2;

    &.historical {
      stroke-dasharray: 3;
    }
  }

  .ttip {
    circle {
      stroke: #ffffff;
      stroke-width: 6px;
      filter: url(#shadow);
    }
  }
}