$sans-serif: 'Nunito', sans-serif;

$light: 200;
$regular: 400;
$bold: 700;



// colors
$txt-primary: #444444;
$txt-dark: #222222;


$light-grey:  #eff1f2;
$mid-grey: #b8c1c7;
$dark-grey: #64747E;

$azul: #2372F5;
$naranja: #F5A623;

// media quries
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;
$screen-xl: 1600px;