.axis, .legend {
  color: $dark-grey;
  font-size: 0.7rem;
  font-weight: $light;
}

.overlay {
  pointer-events: all;
  cursor: pointer;
  fill: none;
}

.ttip {
  cursor: pointer;
  pointer-events: none;
}

.legend {
  .label {
    font-size: 0.8rem;
    &.main {
      text-transform: uppercase;
      font-weight: $bold;
    }

    &.figure {
      font-size: 1.0rem;
       font-weight: $regular;
    }
  }
}